/* Loader styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.loading-text {
  font-size: 48px;
  font-weight: bold;
  color: white;
  position: relative;
  overflow: hidden;
}

.text {
  position: relative;
  z-index: 1;
}

.dots::after {
  content: '...';
  animation: dot-blink 1s steps(5, end) infinite;
  position: relative;
  z-index: 1;
}

@keyframes dot-blink {
  0%, 20% { content: ''; }
  40% { content: '.'; }
  60% { content: '..'; }
  80%, 100% { content: '...'; }
}

.loading-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3498db;
  animation: fill 3s forwards;
  z-index: 0;
}

@keyframes fill {
  0% { width: 0; }
  100% { width: 100%; }
}
